.top { width:100%; height: 43px; background: #333333; border-bottom: 2px solid #606060; }
.head_left{margin-left: 13px; }
.head_left .head_list{  position: relative; line-height: 43px; padding: 0 12px; }
.head_left .head_list .ying{float: left; color: #fff; }
.head_left .head_list span{border: 4px solid transparent; border-top:4px solid #c2c2c2; float: left; margin-left: 9px; margin-top: 20px; transition: all .1s ease-in; }
.head_left .head_list .list{display: none; padding-top:12px; width: 135px;position: absolute; top: 43px; left: 0px; }
.head_left .head_list .h_list{width: 135px; background: #fff;  text-align: center; padding: 6px 0px 6px;border: 1px solid #cdcdcd;  box-shadow: 0 0 8px #cdcdcd; }
.head_left .head_list .h_list li{  padding: 0px 10px; width:115px; height: 30px; line-height: 30px;  }
.head_left .head_list .h_list li.last a{border-bottom: none; }
.head_left .head_list .h_list li a{color: #000; float: none; border-bottom: 1px dashed  #cdcdcd; display: block; }
.head_left p{color: #fff; line-height: 43px; margin-left: 32px; }

.head_left .head_list:hover span{transform: rotate(180deg); margin-top: 15px; }
.head_left .head_list:hover .list{display: block; }
.head_left .head_list .list .h_list li:hover{background: #f4f4f4; }

.head_right .login {width: 64px; height: 49px; position: relative; }
.head_right .login .ru{color:#fff; width: 64px; height: 49px; background: url(../images/top_bg.png) no-repeat; text-align: center; line-height: 43px; box-shadow: 0 0 5px #000; } 
.head_right .login .loginbar{width:262px; padding-top: 12px; display: block; position: absolute; top: 43px; left: 0px; display: none; }
.head_right .login .login_list{ width: 225px; height: 186px; border: 2px solid #cdcdcd; box-shadow: 0 0 5px #cdcdcd; background: #fff; padding:30px 0  0 35px; }
.head_right .login .login_list .text{width: 187px; height: 28px; line-height: 28px; text-indent: 6px; border: 1px solid #ddd; margin-bottom: 8px; }
.head_right .login .login_list .pass{width: 187px; height: 28px; line-height: 28px; text-indent: 6px; border: 1px solid #ddd;margin-bottom: 8px; }
.head_right .login .login_list .but{width: 187px; height: 28px; line-height: 28px; text-indent: 6px; border: 1px solid #239438; background: url(../images/b7.png) repeat-x; color: #fff; font-weight: bold; outline: none; cursor: pointer; }
.head_right .login .login_list .label{margin-bottom: 10px; width: 187px; }
.head_right .login .login_list .label a{color: #000; font-size: 12px; }
.head_right .login .login_list a{ color: #ba2636; font-size: 14px; text-align: center; display: inline-block; margin-bottom:10px; }
.head_right .login:hover .loginbar{ display: block;}

.head_right .regsiter{margin-left: 12px; text-align: center; line-height: 43px; border-right: 1px solid #1f1f1f; padding-right: 15px; display: inline-block; }
.head_right .regsiter a{ color: #fff; float: left; }
.head_right .regsiter span{ float: left; margin-left: 8px; border: 4px solid transparent; border-top:4px solid #c2c2c2; float: left; margin-top: 20px; transition: all .1s ease-in; }


.head_right .column li{ padding: 0px 5px 0px 8px; float: left; border-left: 1px solid #3f3f3f; border-right: 1px solid #1f1f1f; height: 43px; }
.head_right .column li a{color: #fff; float: left;margin-top: 14px;}
.head_right .column li span{ float: left; border: 4px solid transparent; border-top:4px solid #c2c2c2; float: left; margin-top: 20px; transition: all .1s ease-in; margin-left: 4px; }
 
.head_right .column .li1{position: relative;}
.head_right .column .li1 .loft_list{display: none; padding-top:12px; width: 135px;position: absolute; top: 43px; left: 0px; }
.head_right .column .li1 .loft_list .h_list{width: 135px; background: #fff; padding: 6px 0px 6px;border: 1px solid #cdcdcd;  box-shadow: 0 0 8px #cdcdcd; }
.head_right .column .li1 .loft_list .h_list li{  padding: 0px 10px; width:115px; height: 30px; border: none; line-height: 30px;}
.head_right .column .li1 .loft_list .h_list li.last a{border-bottom: none; }
.head_right .column .li1 .loft_list .h_list li a{color: #000; float: none; border-bottom: 1px dashed  #cdcdcd; display: block; margin-top: 0; }

.head_right .column .li1:hover span{transform: rotate(180deg); margin-top: 15px; }
.head_right .column .li1:hover .loft_list{display: block; }
.head_right .column .li1 .loft_list .h_list li:hover{background: #f4f4f4; }

.logo {margin-top:36px; border-bottom: 4px solid #206f96;padding-bottom: 15px; }
.logo h1{background: url(../images/logo.png) no-repeat; text-indent: -9999px; width: 122px; height: 40px; }
.logo .pic1{margin-left: 243px; }
.logo .pic2{margin-left: 15px; }

.subnav{margin-top: 12px; }
.subnav1{width: 152px; height: 56px; border-right: 1px dashed #dcdddd; padding: 5px 20px 5px 0; overflow: hidden; display: inline-block; }
.subnav1 p{width: 172px; margin-bottom: 10px; overflow: hidden; }
.subnav1 p a{margin-right: 16px; }
.subnav2{width: 152px; height: 56px; border-right: 1px dashed #dcdddd; padding: 5px 20px 5px 0; margin-left: 18px; overflow: hidden; display: inline-block;  }
.subnav2 p{width: 172px; margin-bottom: 10px; overflow: hidden; }
.subnav2 p a{margin-right: 16px; }
.subnav3{width: 114px; height: 56px; border-right: 1px dashed #dcdddd; padding: 5px 20px 5px 0; margin-left: 18px; overflow: hidden; display: inline-block;  }
.subnav3 p{width: 142px; margin-bottom: 10px; overflow: hidden; }
.subnav3 p a{margin-right: 16px; }
.subnav4{width: 110px; height: 56px; padding: 5px 7px 5px 0; margin-left: 18px; overflow: hidden; display: inline-block;  }
.subnav4 p{width: 127px; margin-bottom: 10px; overflow: hidden; }
.subnav4 p a{margin-right: 16px; }

.banner_news {margin-top: 15px; background: #f9f9f9; border: 1px solid #dcdddd; height: 158px; }
.left_news{width: 168px; height:158px; }
.news_list{height: 158px; width: 169px; position: relative; }
.news_list li{cursor: pointer; }
.news_list .edu {width: 19px; height: 38px; background: url(../images/b9.png) no-repeat; color: #376a77;  margin: 1px 0 1px 1px; padding: 13px 0 0 3px; } 
.edu .li_list{position: absolute; top: 0px; left: 27px; width: 138px; height: 144px; padding-top:12px; display: none;  }
.edu .show{display: block; }
.edu .li_list p{margin-bottom: 12px; color: #376a77; }
.news_list .active{background: url(../images/b11.png) no-repeat; }
/*.news_list li:hover{background: url(../images/b11.png) no-repeat; }
.news_list li:hover div{display: block; }*/

.center_news{width: 620px; margin-top: 12px; }
.center_news p{line-height: 16px; }
.center_news a{color:#376a77; margin-right: 10px; }

.right_news{width: 168px; height:158px; position: relative; }
.news_list2{height: 158px; width:23px;  margin-top:1px; font-weight: normal; }
.news_list2 .edu {width: 15px; height: 38px; background: url(../images/b14.png) no-repeat; color: #376a77;  margin: 0px 1px 1px 0px; padding: 13px 0px 0 8px; float: left; cursor: pointer; } 
.right_news .li_list{position: absolute; top: 0px; right: 14px; width: 138px; height: 144px; padding-top:12px; display: none;  }
.right_news .show{display: block; }
.right_news .li_list p{margin-bottom: 12px; color: #376a77; }
.news_list2 .active{background: url(../images/b13.png) no-repeat; }
.banner_news a:hover{color: red; }
.banner_news a:hover p{ color: red; }

.main{margin-top: 20px;}
.c_l{ width: 640px; margin-right:20px; }
.tab_pic{position: relative; width: 310px; }
.tab_pic .show{display: block; }
.pic_list1{width: 310px; height: 220px; position: relative; display: none; }
.pic_list1 .bg{background: #000; width: 310px; height: 40px; opacity: 0.7; filter:alpha(opacity=70); position: absolute; bottom: 0px; left: 0px; }
.pic_list1 p{font-size: 13px; font-weight: bold; position: absolute; bottom: 10px; left: 10px; color: #fff; }
.btn {margin-top: 15px; margin-left: 63px; display: block; margin-bottom: 28px; }
.btn span{float: left;width: 25px; height: 5px; background: #e4e4e4; margin-right: 8px; cursor: pointer; }
.btn .active{background: url(../images/b15.png) no-repeat; }
.btn span:hover{background: url(../images/b15.png) no-repeat; }
.btn_m {position: absolute; top: 0px; left: 0px; width: 100%; height: 220px; }
.btn_m .pre{width: 20px; height: 34px; background: url(../images/pre.png) no-repeat; position: absolute; top: 50%; left: 6px; margin-top: -17px; opacity: 0.6; cursor: pointer; }
.btn_m .next{width: 20px; height: 34px; background: url(../images/next.png) no-repeat; position: absolute; top: 50%; right: 6px; margin-top: -17px; opacity: 0.6; cursor: pointer;  }

.tab_new{width: 310px;  }
.tab_new .title{width: 309px; height: 31px; border-top: 2px solid #206f96; padding-left: 1px; }
.tab_new .title li{float: left;text-align: center; width: 102px; height: 28px; border: 1px solid #cfcfcf; border-top: none; line-height: 30px; margin-left: -1px; background: url(../images/b16.png) repeat-x; }
.tab_new .title li.active{background: #fff; border-bottom: none; }
.tab_new .title li:hover{background: #fff; border-bottom: none; }
.new_li{margin-top: 18px; }
.ad1{margin-right: 40px; }
.ad1,.ad2 img{width: 130px; border: none; }
.ad1 p,.ad2 p{margin-top: 9px; }

.li_new{margin-top: 23px; }
.li_new p{background: url(../images/b17.png) no-repeat left; padding-left: 9px; margin-bottom: 12px; font-size: 14px; height: 16px; line-height: 16px; }
.li_new .clock{background: url(../images/clock.png) no-repeat left; padding-left: 20px; height: 16px; display: inline-block; }
.new_ad1{margin-top: 25px; }
.ad_h100{margin-top: 32px; }

.c_center{margin-left: 20px; }
.c_center .title2{width: 309px; height: 31px; border-top: 2px solid #206f96; padding-left: 1px; }
.c_center .title2 li{float: left;text-align: center; width: 102px; height: 28px; border: 1px solid #cfcfcf; border-top: none; line-height: 30px; margin-left: -1px; background: url(../images/b16.png) repeat-x; }
.c_center .title2 li.active{background: #fff; border-bottom: none; }
.c_center .title2 li:hover{background: #fff; border-bottom: none; }
.new_li{margin-top: 18px; }

.c_center .li_new2{margin-top: 24px; }
.c_center .li_new2 p{background: url(../images/b17.png) no-repeat left; padding-left: 9px; margin-bottom: 12px; font-size: 14px; height: 15px; line-height: 14px; }

.c_center .li_new3{margin-top: 18px; }
.c_center .li_new3 p{background: url(../images/b17.png) no-repeat left; padding-left: 9px; margin-bottom: 12px; font-size: 14px; height: 16px;  }
.c_center .li_new3 .no_dot{background: none; height: 20px;}
.c_center .li_new3  .b_hd{ background: url(../images/b18.png) no-repeat;display: inline-block;  width: 90px; height: 20px;  margin-right: 12px; }
.c_center .li_new3 p  i{font-style: normal; color: #c1c1c1; margin: 5px 5px 0; } 
.c_center .li_new3 .no_dot .mt{margin-top:5px; }

.c_center .li_new4{margin-top: 26px; }
.li_new4 .title3{width: 309px; height: 31px; border-top: 2px solid #206f96; padding-left: 1px; }
.li_new4 .title3 li{float: left;text-align: center; width: 102px; height: 28px; border: 1px solid #cfcfcf; border-top: none; line-height: 30px; margin-left: -1px; background: url(../images/b16.png) repeat-x; overflow: hidden; }
.li_new4 .title3 li img{margin-top: 3px; }
.li_new4 .title3 li.active{background: #fff; border-bottom: none; }
.li_new4 .title3 li:hover{background: #fff; border-bottom: none; }

.li_new4 .t_new .t_btn{margin: 0 auto; width: 196px; height: 12px; margin-top: 16px; }
.li_new4 .t_new .t_btn .t_btn_pre, .li_new4 .t_new .t_btn .t_btn_next{ width: 8px; height: 13px; cursor: pointer; }
.li_new4 .t_new .t_btn .t_btn_pre{background: url(../images/b20.png) no-repeat; margin-right: 13px; }
.li_new4 .t_new .t_btn .t_btn_next{ background: url(../images/b21.png) no-repeat; }
.li_new4 .t_new .t_btn i{float: left; }
.li_new4 .t_new .t_btn span{ float: left;width: 24px; height: 5px; background: #e4e4e4; margin-right: 2px; margin-top: 4px; cursor: pointer; }
.li_new4 .t_new .t_btn .mr{margin-right: 13px; }
.li_new4 .t_new .t_btn .active{background: #206f96; }
.li_new4 .t_new .t_btn span:hover{background: #206f96; }

.li_new4 .t_new .t_new_n1 {margin-top: 13px; }
.li_new4 .t_new .t_new_n1  p{background: url(../images/b17.png) no-repeat left; padding-left: 9px; margin-bottom: 12px; font-size: 14px; height: 14px; line-height: 16px; }
.li_new4 .t_new .t_new_n1 .bg_none{background: none; }
.li_new4 .t_new .t_new_n1 .bobo_live{background: url(../images/bobo.png) no-repeat; width: 85px; height: 16px; margin-right: 14px; }

.c_foot {width: 638px; height: 63px; border: 1px solid #dddddd; margin-top: 15px; overflow: hidden; }
.c_foot .c_foot_list{width: 666px;  height: 53px; padding-left: 10px; padding-top: 10px; }
.c_foot .c_foot_list  p{background: url(../images/b17.png) no-repeat left; padding-left: 9px; margin-bottom: 12px; font-size: 14px; height: 14px; line-height: 16px; float: left; margin-right: 38px; }
.ad_600_100{width: 640px; height: 100px; margin-top: 12px; }

.c_right{width: 300px; }
.pro_hd{width: 300px; height: 33px; }
.pro4 .title4{width: 115px; height: 31px; border-top: 2px solid #206f96; }
.pro4 .title4 a{width: 105px; height: 28px; border-left: 1px solid #cfcfcf; border-bottom: 1px solid #cfcfcf;line-height: 30px; background: url(../images/b16.png) repeat-x; display: inline-block; padding-left: 10px; }
.pro4 .red_title{width: 184px; height: 32px; background: url(../images/b22.png) repeat-x; text-align: center; }
.pro4 .red_title .tu_new{ width: 51px; height: 21px; background: url(../images/b23.png) no-repeat; float: left; border-right:1px solid #b30000; margin: 4px 0  0 12px; padding-right: 9px; float: left; }
.b_r {line-height: 20px; color: #fff; border-left: 1px solid #e05151; float: left; padding-left: 12px; height: 21px; margin-top: 4px; }
.red_title .b_r:hover{ color: #fff; font-weight: bold; text-decoration: none; }

.pro_list{width: 297px; border: 1px solid #cfcfcf; border-top: none; margin-top: -2px; }
.pro_list .mail{padding-top: 25px; background: #fff; width: 297px; height: 32px; }
.pro_list .mail h3{background: url(../images/mail.png) no-repeat; float: left; width: 22px; height: 100%; margin-left: 16px; }
.mail .pro_con{margin-left: 12px; }
.mail .pro_con a{margin-right: 10px; }

.pro_list .mouse{padding-top:18px; background: #f7f7f7; width: 297px; height: 107px; }
.pro_list .mouse h3{background: url(../images/mouse.png) no-repeat; float: left; width: 29px; height: 50px; margin-left: 9px; margin-top:32px; }
.mouse .pro_con{margin-left: 12px; margin-bottom: 14px; }
.mouse .pro_con a{margin-right: 10px; }

.pro_list .smell{padding-top:18px; background: #fff; width: 297px; height: 59px; }
.pro_list .smell h3{background: url(../images/b25.png) no-repeat; float: left; width: 23px; height: 50px; margin-left: 9px; margin-top:8px; }
.smell .pro_con{margin-left: 12px; margin-bottom: 14px; }
.smell .pro_con a{margin-right: 10px; }

.pro_list .start{padding-top:18px; background: #f7f7f7; width: 297px; height: 110px; }
.pro_list .start h3{background: url(../images/b26.png) no-repeat; float: left; width: 23px; height: 50px; margin-left: 9px; margin-top:32px; }
.start .pro_con{margin-left: 12px; margin-bottom: 14px; }
.start .pro_con a{margin-right: 10px; }

.ad_300_250{margin-top: 12px; width: 300px; height: 250px; }

.welfare{width: 289px; height: 84px; border: 1px solid #cfcfcf; padding: 15px 0 0 9px; margin-top: 12px; }
.welfare .head{margin-bottom: 13px; }
.welfare b{margin-left: 9px; }
.welfare .wy{background: url(../images/wy_min.png) no-repeat; padding-left: 25px; margin-left: 32px; }
.welfare p{background: url(../images/b17.png) no-repeat left; padding-left: 12px; margin-bottom: 14px; }
.welfare p a{ margin-right:10px ;}

.tab_tic{width: 297px; height: 248px; border: 1px solid #e3e3e3;padding-left: 1px; background: #f9f9f9; margin-top: 12px; }
.tab_tic .tic_head{margin-left: -1px;}
.tab_tic .tic_head li{float: left; border:1px solid #e3e3e3; border-top:none; padding:8px 23px; margin-left: -1px; font-size: 14px; }
.tab_tic .tic_head .active{border-bottom:none; }
.tab_tic .tic_head li a{color: #55808b; }
.tab_tic .tic_head .last{padding: 8px 16px;}
.tab_tic .tic_head .last1{padding: 8px 16px 8px 15px; border-right: none; }
.tic_list {margin: 9px 0 0 9px; }
.tic_list p{background: url(../images/b17.png) no-repeat left; padding-left: 12px; margin-bottom: 14px; }
.tic_list p a{ margin-right:10px; color:#55808b; }
.tic_list .mt{margin-top: 17px; }
.ad_300_250_2{width: 300px; height: 250px; margin-top: 12px; }

.tab_life{margin-top: 12px; }
.life_list{border-top: 2px solid #206f96; padding-left: 1px; }
.life_list li{float: left;text-align: center; width: 102px; height:28px; border: 1px solid #cfcfcf; border-top: none; line-height: 30px; margin-left: -1px; background: url(../images/b16.png) repeat-x; overflow: hidden; }
.life_list li.active{background: #fff; border-bottom: none; }
.life_list li:hover{background: #fff; border-bottom: none; }
.life_pic{margin-top: 18px; margin-right: -8px; }
.life_pic a{float: left; margin-right: 8px; } 
.life_pic a img{display: block; border: none; } 

.door{ min-width: 990px; border-top: 1px solid #ddd; background: #f6f6f6; padding-top: 28px; margin-top: 93px;  }
.door1{overflow: hidden; border-bottom:1px solid #ddd; padding-bottom: 19px; } 
.door_list{width: 972px; }
.door_list .door_head{padding: 0px; width: 150px; height: 150px; }
.door_list li{width: 138px; height: 138px; background: #e8e8e8; margin-right: 12px; float: left; padding: 12px 0 0 12px; overflow: hidden;  margin-bottom: 12px; } 
.door_list li h3{font-size: 12px; }
.door_list li .cont{width: 145px; }
.door_list li a{display: inline-block; width: 48px; margin-right: 23px; margin-bottom: 15px; }
.door_list li:hover{ background: #06A7E1; }
.door_list li:hover a{color: #fff; }
.door_list li a:hover{color: #fff; }
.map{background: url(../images/b27.png) no-repeat right; padding-right: 20px; }

.foot{background: #f6f6f6; overflow: hidden; padding-bottom: 54px; }
.foot .foot_head{border-top: 1px solid #fff; padding-top: 46px; }
.foot .foot_head p{margin-bottom: 14px;}
.foot .foot_head div{margin-right: 48px; float: left; }

.bottom{background: #333; height: 40px; overflow: hidden; }
.bottom .bottom_list{min-width: 960px; color: #616161; line-height: 40px; }
.bottom .bottom_list span{color: #fff; }
.bottom .bottom_list a{color: #fff; padding: 0 5px; }








